<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>卓越--联系我们</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <link href="JsCss/common.css" rel="stylesheet" media="screen" type="text/css"/>
    <script type="text/javascript" src="JsCss/vue.min.js"></script>
    <script type="text/javascript" src="JsCss/axios.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="JsCss/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=0DBTh1xpZIXyV9u1CzpbyFsh"></script>
    <script type="text/javascript" src="JsCss/marker.js"></script>
    <script src="JsCss/index.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>卓越地图</title>
    <style type="text/css">
        #container {
            width: 600px;
            height: 250px;
            border: solid 1px #AAA;
        }

        table {
            border-collapse: separate;
            border-spacing: 10px;
        }

        tr {
            width: 80px;

        }

        td {
        }

        a {
            text-decoration: none;
        }


        #index a {
            margin: 5px 10px;
            text-decoration: none;
        }

        .indexSpan {
            margin: 10px;
        }

        .cz-con-text > span {
            margin-right: 20px;
        }

        .light {
            color: red;
        }

        table th {
            font-size: 18px;

            color: #A44239;
        }
    </style>
</head>

<body>
<div class="header">
    <ul class="top-link">
        <li class="title"><a href="#"
                             onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('huiyuaninsert.html');"
                             title='设置本站为浏览器首页(启始页)'>设为首页</a></li>
        <li class="pi"></li>
        <li class="title"><a target=_top href="register.html">注册</a></li>
        <li class="pi"></li>
        <li class="title"><a href="login.html?">登录</a></li>
    </ul>

    <div class="logo"><a href="index.html"><img src="images/logo.png" width="250" height="82"/></a></div>
    <div class="menu">
        <ul>
            <li><a href="about.html">关于我们</a><span>about us</span></li>
            <li class="active"><a href="auctioning.html">拍卖信息</a><span>Auction information</span></li>
            <li><a href="product.html">商品展示</a><span>Product showcase</span></li>
            <li><a href="showData.html">个人信息</a><span>Personal information</span></li>
            <li><a href="chargeMoney.html">资金管理</a><span>Money management</span></li>
        </ul>
    </div>
</div>
<!-- 菜单和下面模块的间隔-->
<div class="clr50"></div>
<!-- 图片 -->
<div class="zy_banner_bg">
    <div class="zy_banner"></div>
</div>


<div class="zy_main" id="about">
    <div class="Left_subMenu">
        <div class="top_bg"></div>
        <div class="c_bg">
            <div class="title">个人信息</div>
            <ul>
                <li v-on:click="showinfo(0)" :class="{'activer':num==0}"><a href="auctioning.html">正在竞拍</a></li>
                <li v-on:click="showinfo(1)" :class="{'activer':num==1}"><a href="showAuction.html">拍卖信息查询</a>
                </li>
                <li v-on:click="showinfo(2)" :class="{'activer':num==2}"><a href="auctioninsert.html">发布拍品</a>
                </li>
                <li v-on:click="showinfo(3)" :class="{'activer':num==3}"><a href="myOrder.html">我的订单</a></li>
            </ul>
        </div>
        <div class="bottom_bg"></div>

        <div class="ph">
            <img src="images/ph.png" width="169" height="67"/>
        </div>
    </div>


    <div id="process" class="zy_right">
        <div class="position">当前位置：<a href="#">拍卖信息</a> > <a href="#">拍卖信息查询</a></div>
        <div class="zy_title">
            <p>拍卖信息查询<span> Show Auction </span><span
                    style="color: red; font-size: 18px;margin-left: 30px;">请在付款期限内付款！</span></p>
        </div>
        <div class="cz-con-text">
            <form  class="cz-form">
                <table cellspacing="1" cellpadding="1" style="border: 1px solid; width: 860px;">
                    <tr>
                        <th>宝物状态</th>
                        <th>宝物名称</th>
                        <th>预 &nbsp;&nbsp;览</th>
                        <th>结 拍 时 间</th>
                        <th>付 款 期 限</th>
                        <th>应付金额</th>
                        <th>实付金额</th>
                        <th>操&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作</th>
                        <th>申&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请</th>
                    </tr>
                    <tr v-for="dealrecord in dealrecordList">
                        <td v-if="1 == dealrecord.did">待付款</td>
                        <td v-else-if="3 == dealrecord.did">交易完成</td>
                        <td v-else-if="4 == dealrecord.did">违约</td>
                        <td>{{dealrecord.gname}}</td>
                        <td><img width="50" height="50" :src="'http://localhost:9999/upload/img/'+dealrecord.auction.gpic">
                        </td>
                        <td>{{dealrecord.auction.etime}}</td>
                        <td>{{dealrecord.offtime}}</td>
                        <td>{{dealrecord.auction.nprice}}</td>
                        <td>{{dealrecord.cjmoney}}</td>
                        <td>
                            <a v-if="dealrecord.did == 1" href="#" @click="pay(dealrecord.aid,dealrecord.cjid)"
                               style="text-decoration: none; color: #8F9747;font-size: 18px;">确认付款</a>
                            <a v-if="dealrecord.did == 3" href="#" @click="takeDelivery(dealrecord.cjid)"
                               style="text-decoration: none; color: #8F9747;font-size: 18px;">取货</a>
                        </td>
                        <td>
                            <a v-if="dealrecord.did == 1 && dealrecord.defer == 0" href="#"
                               @click="defer(dealrecord.cjid)"
                               style="text-decoration: none; color: #8F9747;font-size: 18px;">申请延期</a>
                            <span v-if="dealrecord.did == 1 && dealrecord.defer == 1"
                                  style="text-decoration: none; color: #000000;font-size: 17px;">等待审批</span>
                            <span v-if="dealrecord.did == 1 && dealrecord.defer == 2"
                                  style="text-decoration: none; color: #000000;font-size: 17px;">延期三天</span>
                            <span v-if="dealrecord.did == 1 && dealrecord.defer == 3"
                                  style="text-decoration: none; color: #000000;font-size: 17px;">延期失败</span>
                        </td>
                    </tr>

                </table>
            </form>
        </div>
        <div id="index">
            <span class="indexSpan">一共查询到{{total}}条记录 {{pages}}页</span>
            <span class="indexSpan">当前是第{{pageNum}}页</span>
            <span class="indexSpan"><button v-if="isFirstPages" disabled @click="front">上一页</button>
					<button v-if="!isFirstPages" @click="front">上一页</button></span>

            <span v-if="pages >= 9" v-for="count in pages">
							<a v-if="count<=3" id="count" href="#" @click="initauctionList(count)"
                               v-on:click="isLight(count)" :class="{'light':isLightNum==count}">{{count}}</a>
					</span>
            <span style="margin: 2px;" v-if="pages >= 9" v-for="count in 6">·</span>
            <span v-if="pages >= 9" v-for="count in pages">
					<a v-if="count > pages - 3" id="count" href="#" @click="initauctionList(count)"
                       v-on:click="isLight(count)" :class="{'light':isLightNum==count}">{{count}}</a>
					</span>
            <span v-if="pages < 9" v-for="count in pages">
						<a id="count" href="#" @click="initauctionList(count)"
                           v-on:click="isLight(count)" :class="{'light':isLightNum==count}">{{count}}</a>
					</span>
            <span class="indexSpan">
						<button v-if="isLastPages" disabled @click="next">下一页</button>
						<button v-if="!isLastPages" @click="next">下一页</button>
					</span>


        </div>
    </div>

</div>


<div id="footer-top">
    <div class="footer-text">
        © 小佟拍卖行
    </div>
</div>
<script>
    var vm = new Vue({
        el: '#about',
        data: {
            num: 3,
            dealrecordList: [],
            hid: '',
            total: 0, //总记录条数
            pageNum: 1, //第几页
            pages: 0, //有几页
            isFirstPage: true,
            isLastPage: false,
            selectStateList: [],

            isLightNum: 1,


        },
        created: function () {
            if (null == sessionStorage.getItem("hid")) {
                alert("请先登录")
                window.location.href = "login.html";
            } else {
                this.hid = sessionStorage.getItem("hid");
                this.initdealrecordList(1);
            }
            //商品类型加载

        },
        computed:{
            isFirstPages() {
                return this.pageNum === 1
            },
            isLastPages() {
                return this.pageNum === this.pages
            }
        },
        methods: {
            showinfo: function (i) {
                this.num = i;
            },
            isLight(i) {
                this.isLightNum = i;
            },
            initdealrecordList(pageNum) {
                axios.get('dealrecord/getAllByHid?no=' + pageNum + '&hid=' + this.hid).then(result => {
                    console.log(result.data.data.records);
                    let data = result.data.data;
                    this.dealrecordList = data.records;
                    this.total = data.total;
                    this.pageNum = pageNum;
                    this.pages = data.pages;
                });
            },
            front() {
                if (this.pageNum == 1) {
                    this.isFirstPage = true;
                    alert("不能再进行")
                    return;
                }
                this.initdealrecordList(this.pageNum - 1);
                this.isLightNum--;
            },
            next() {
                if (this.pageNum == this.pages) {
                    this.isLastPage = true;
                    alert("不能再进行")
                    return;
                }
                this.initdealrecordList(this.pageNum + 1);
                this.isLightNum++;
            },
            pay(aid, cjid) {
                axios.get("auction/pay?aid=" + aid + "&cjid=" + cjid)
                    .then(resp => {
                        if (resp.data == true) {
                            alert("付款成功，谢谢惠顾！")
                            window.location.reload()
                        } else {
                            alert("付款失败，账户余额不足！")
                        }
                    })
            },
            defer(cjid) {
                axios.get("dealrecord/updateDeferByCjid?cjid=" + cjid + "&defer=" + 1)
                    .then(resp => {
                        this.initdealrecordList(this.pageNum)
                    })
            },
            takeDelivery(cjid) {
                axios.get("dealrecord/sendTakeDeliveryEmail?cjid=" + cjid)
                    .then(resp => {
                        if (resp.data == true) {
                            alert("已将取货信息发送至您的邮箱，注意查收！")
                        } else {
                            alert("取货失败，请联系管理员处理！")
                        }
                    })
            }
        }
    });
    //页面加载
    $(function () {
        vm.num = 3;
    })
</script>

</body>
</html>
