<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>卓越--联系我们</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <link href="JsCss/common.css" rel="stylesheet" media="screen" type="text/css"/>
    <script type="text/javascript" src="JsCss/vue.min.js"></script>
    <script type="text/javascript" src="JsCss/axios.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="JsCss/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=0DBTh1xpZIXyV9u1CzpbyFsh"></script>
    <script type="text/javascript" src="JsCss/marker.js"></script>
    <script src="JsCss/index.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/qs/6.10.1/qs.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>卓越地图</title>
    <style type="text/css">
        #container {
            width: 600px;
            height: 250px;
            border: solid 1px #AAA;
        }

        table {
            border-collapse: separate;
            border-spacing: 10px;
        }

        table th {
            font-size: 18px;

            color: #A44239;
        }

        tr {
            width: 80px;
        }

        #index a {
            margin: 5px 10px;
            text-decoration: none;
        }

        .indexSpan {
            margin: 10px;
        }

        .cz-con-text > span {
            margin-right: 11px;
        }

        .light {
            color: red;
        }
    </style>
</head>

<body>
<div class="header">
    <ul class="top-link">
        <li class="title"><a href="#"
                             onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('huiyuaninsert.html');"
                             title='设置本站为浏览器首页(启始页)'>设为首页</a></li>
        <li class="pi"></li>
        <li class="title"><a target=_top href="register.html">注册</a></li>
        <li class="pi"></li>
        <li class="title"><a href="login.html?">登录</a></li>
    </ul>

    <div class="logo"><a href="index.html"><img src="images/logo.png" width="250" height="82"/></a></div>
    <div class="menu">
        <ul>
            <li><a href="about.html">关于我们</a><span>about us</span></li>
            <li><a href="auctioning.html">拍卖信息</a><span>Auction information</span></li>
            <li><a href="product.html">商品展示</a><span>Product showcase</span></li>
            <li><a href="showData.html">个人信息</a><span>Personal information</span></li>
            <li class="active"><a href="chargeMoney.html">资金管理</a><span>Money management</span></li>
        </ul>
    </div>
</div>
<!-- 菜单和下面模块的间隔-->
<div class="clr50"></div>
<!-- 图片 -->
<div class="zy_banner_bg">
    <div class="zy_banner"></div>
</div>
<div class="zy_main" id="about">
    <div class="Left_subMenu">
        <div class="top_bg"></div>
        <div class="c_bg">
            <div class="title">个人信息</div>
            <ul>
                <li v-on:click="showinfo(0)" :class="{'activer':num==0}"><a href="chargeMoney.html">余额充值</a>
                </li>
                <li v-on:click="showinfo(1)" :class="{'activer':num==1}"><a href="extractMoney.html">提现</a></li>
                <li v-on:click="showinfo(2)" :class="{'activer':num==2}"><a
                        href="showMoneyRecord.html">查看交易记录</a></li>
            </ul>
        </div>
        <div class="bottom_bg"></div>

        <div class="ph">
            <img src="images/ph.png" width="169" height="67"/>
        </div>
    </div>

    <div id="process" class="zy_right">
        <div class="position">当前位置：<a href="#">个人信息</a> > <a href="#">查看个人信息</a></div>
        <div class="zy_title">
            <p>查看个人信息<span> Show Data </span></p>
        </div>
        <div class="cz-con-text">
            <span>起始范围日期：<input type="date" name="stime" id="stime" v-model="stime"/></span>
            <span>结束范围日期：<input type="date" name="etime" id="etime" v-model="etime"/></span>
            <span v-for="(item,index) in typeList">
                <input type="checkbox" :value="item.index" v-model="stypeList"/>{{item.name}}
            </span>
            <input type="button" name="" id="" value="查询" @click="search(1)" style="width: 90px;"/>
            <form action="" method="" class="cz-form">
                <table cellspacing="1" cellpadding="1" style="border: 1px solid; width: 759px;">
                    <tr>
                        <th>用户编号</th>
                        <th>用户昵称</th>
                        <th>交易时间</th>
                        <th>交易金额</th>
                        <th>交易类型</th>
                        <th>交易备注</th>
                    </tr>
                    <tr v-for="mr in mrList">
                        <td>{{mr.hid}}</td>
                        <td>{{mr.hname}}</td>
                        <td>{{mr.cjtime}}</td>
                        <td>{{mr.cjmoney}}</td>
                        <td v-if="mr.mtype == 0">充值</td>
                        <td v-else-if="mr.mtype == 1">消费</td>
                        <td v-else-if="mr.mtype == 2">提现</td>
                        <td>{{mr.mbackup}}</td>
                    </tr>

                </table>
            </form>
        </div>
        <div id="index">
            <span class="indexSpan">一共查询到{{total}}条记录 {{pages}}页</span>
            <span class="indexSpan">当前是第{{pageNum}}页</span>
            <span class="indexSpan"><button v-if="isFirstPages" disabled @click="front">上一页</button>
            					<button v-if="!isFirstPages" @click="front">上一页</button></span>
            <span v-if="pages >= 9" v-for="count in pages">
            							<a v-if="count<=3" id="count" href="#" @click="toFrontAndNext(count)"
                                           v-on:click="isLight(count)"
                                           :class="{'light':isLightNum==count}">{{count}}</a>
            					</span>
            <span style="margin: 2px;" v-if="pages >= 9" v-for="count in 6">·</span>
            <span v-if="pages >= 9" v-for="count in pages">
            					<a v-if="count > pages - 3" id="count" href="#" @click="toFrontAndNext(count)"
                                   v-on:click="isLight(count)" :class="{'light':isLightNum==count}">{{count}}</a>
            					</span>
            <span v-if="pages < 9" v-for="count in pages">
            						<a id="count" href="#" @click="toFrontAndNext(count)"
                                       v-on:click="isLight(count)" :class="{'light':isLightNum==count}">{{count}}</a>
            					</span>
            <span class="indexSpan">
            						<button v-if="isLastPages" disabled @click="next">下一页</button>
            						<button v-if="!isLastPages" @click="next">下一页</button>
            					</span>


        </div>
    </div>

</div>
<div id="footer-top">
    <div class="footer-text">
        © 小佟拍卖行
    </div>
</div>
<script>
    let flag = 1;
    const qs = Qs;
    var vm = new Vue({
        el: '#about',
        data: {
            total: '',
            pages: '',
            pageNum: 1,
            isFirstPage: true,
            isLastPage: false,
            isLightNum: '',
            num: 3,
            mrList: [],
            hid: '',
            stime: "",
            etime: "",
            stypeList: [],
            typeList: [
                {name: '充值', index: 0},
                {name: '消费', index: 1},
                {name: '提现', index: 2}
            ],

        },
        computed: {
            isFirstPages() {
                return this.pageNum === 1
            },
            isLastPages() {
                return this.pageNum === this.pages
            }
        },
        created: function () {
            if (null == sessionStorage.getItem("hid")) {
                alert("请先登录")
                window.location.href = "login.html";
            } else {
                this.hid = sessionStorage.getItem("hid");
                this.initMrList(1);
            }
            //商品类型加载

        },
        methods: {
            showinfo: function (i) {
                this.num = i;
            },
            isLight(i) {
                this.isLightNum = i;
            },
            initMrList(pageNum) {
                axios.get('moneyrecord/showMoneyRecord?hid=' + this.hid + "&page=" + pageNum).then(result => {
                    let data = result.data.data;
                    this.mrList = data.records;
                    this.total = data.total;
                    this.pageNum = data.current;
                    this.pages = data.pages;
                    this.isLightNum = this.pageNum;


                });
            },
            front() {
                this.toFrontAndNext(this.pageNum - 1);
                this.isLightNum--;
            },
            next() {
                this.toFrontAndNext(this.pageNum + 1);
                this.isLightNum++;
            },
            toFrontAndNext(pageNum) {
                this.pageNum = pageNum;
                if (flag == 1) {
                    this.initMrList(pageNum);
                } else {
                    this.search(pageNum);
                }

            },
            search(page) {
                flag = 2;
                console.log(this.pageNum)
                let info = {
                    hid: this.hid,
                    stime: this.stime,
                    pageno: page,
                    etime: this.etime,
                    list: this.stypeList,
                }
                axios.get('moneyrecord/showMoneyRecordByTime?' + (qs.stringify(info, {indices: false}))).then(result => {
                    let data = result.data.data;
                    this.mrList = data.records;
                    this.total = data.total;
                    // this.pageNum = data.current;
                    this.pages = data.pages;
                    console.log(this.pageNum);
                });
            }
        }
    });
    //页面加载
    $(function () {
        vm.num = 2;
    })
</script>

</body>
</html>
